services:
  api:
    build: 
      context: ./backend
      dockerfile: build/Dockerfile.api
    ports: [3001:3001]
  auth:
    build: 
      context: ./backend
      dockerfile: build/Dockerfile.auth
    ports: [3002:3002]
    env_file: ./backend/secrets/auth.env
  nginx:
    build: 
      context: ./nginx
      additional_contexts:
        frontend: ./frontend
    ports: [8080:8080]
