services:
  migrator:
    build: 
      context: ./backend
      dockerfile: build/Dockerfile.migrator
    volumes: [sqlite-data:/db]
  api:
    build: 
      context: ./backend
      dockerfile: build/Dockerfile.api
    ports: [3001:3001]
  auth:
    build: 
      context: ./backend
      dockerfile: build/Dockerfile.auth
    ports: [3002:3002]
    env_file: 
      - ./backend/secrets/auth.env
      - ./shared/.env
    volumes: [sqlite-data:/db]
  nginx:
    build: 
      context: ./nginx
      additional_contexts:
        frontend: ./frontend
    ports: [8080:8080]
    env_file: ./shared/.env

# using a named mount so it'll go to Docker's specified storage directory. don't want it cluttering my SSD.
volumes:
  sqlite-data:

